*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 400px;
    /* background: linear-gradient(145deg, #00feba, #5b548a); */
    /* background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,254,186,1) 100%); */
/* background-image: url("gif/clouds.gif"); */
    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    padding: 10px 10px 10px 25px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    
}
.search button img{
    padding-top: 5px;
    width: 20px;
}
.weather-icon{
    width: 120px;
    margin-top: 15px;
}
.weather h1{
    font-size: 60px;
    font-weight: 500;
}
.weather h2{
    font-size: 50px;
    font-weight: 500;
    margin-top: -5px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col, .col2{
    display: flex;
    align-items: center;
    text-align: left;
    /* justify-content: space-between; */
}
.col img, .col2 img{
    width: 40px;
   margin-right: 10px;
}

